/* Colors */
.first-color { 
	background: #000000; 
}
	
.second-color { 
	background: #3e3636; 
}

.third-color { 
	background: #d72323; 
}

.fourth-color { 
	background: #f5eded; 
}
/* Colors */


body{
    background-color: #3e3636;
    color:#f5eded
}

/* Header */

header{
    text-align: center;
    margin: auto;
    width: 80vh;
    border: 2px solid #000000;
    box-shadow: 5px 5px 10px #f5eded,
    -5px -5px 10px #000000;
    padding-bottom: 15px;
    margin-top: 15px
}

header h1{
    font-size: 2.5em;
    display: inline-block;
    padding: 8px;
    color: #f5eded;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #f5eded,
    -5px -5px 10px #000000;
    text-shadow: 4px 4px 10px #000000,
    -4px -4px 10px #000000;
    margin-bottom: 10px;
    transition: color ease 1s;
}

header h1:hover{
    color:#d72323
}

header p{
    font-size: 1.6em;
    width: 70%;
    margin: auto;
    padding: 10px;
    margin-bottom: 3px;
}
/* Header */
/* Header */

/* Inputs */
/* Inputs */
header label, input{
    font-size: 1.4em;
    cursor: pointer;
}

.inputContainer{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 3px 3px 10px #f5eded,
    -3px -3px 10px #000000;
    text-shadow: 4px 4px 10px #000000,
    -4px -4px 10px #000000;
    margin-right: 5px;
    padding: 5px;
    padding-right: 10px;
    transition: border-color ease 0.7s;
}

.inputContainer:hover{
    border-color: hsl(0, 29%, 85%);
}

/* Checkbox */

.inputContainer input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.inputContainer input[type="checkbox"] + label:before {
    content: ""; /* Create a pseudo-element for the checkbox */
    display: inline-block;
    width: 12px; 
    height: 12px;
    border: 1px solid #ccc; 
    background-color: #f5eded;
    cursor: pointer;
    margin-right: 5px;
}

/* Style the custom checkbox when checked */
.inputContainer input[type="checkbox"]:checked + label:before {
    background-color: #000000;
    content: "\2713"; /* Unicode check mark character */
    text-align: center; 
    font-size: 14px; 
    line-height: 15px; /* Match line height with height */
    color: #f5eded; 
    font-weight: bold;
}

/* Checkbox */

/* Inputs */

/* PasswordLength */
/* Checkbox */

.inputContainer input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.inputContainer input[type="checkbox"] + label:before {
    content: ""; /* Create a pseudo-element for the checkbox */
    display: inline-block;
    width: 12px; 
    height: 12px;
    border: 1px solid #ccc; 
    background-color: #f5eded;
    cursor: pointer;
    margin-right: 5px;
}

/* Style the custom checkbox when checked */
.inputContainer input[type="checkbox"]:checked + label:before {
    background-color: #000000;
    content: "\2713"; /* Unicode check mark character */
    text-align: center; 
    font-size: 14px; 
    line-height: 15px; /* Match line height with height */
    color: #f5eded; 
    font-weight: bold;
}

/* Checkbox */

/* Inputs */

/* PasswordLength */
#passwordLength{
    width: 150px;
    text-align: center;
    border-radius: 8px;
    background-color: #f5eded;
    border: none;
    cursor:auto;
}

#createPassword{
    font-size: 1.4em;
    border: 1px solid #3e3636;
    border: 1px solid #3e3636;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: #3e3636;
    box-shadow: 3px 3px 10px #f5eded,
    -5px -5px 10px #000000;
    text-shadow: 4px 4px 10px #000000,
    -4px -4px 10px #000000;
    color: #f5eded;
    margin-top: 2px;
    transition: color ease 1s,
    border-color ease 1s;
    transition: color ease 1s,
    border-color ease 1s;
}

#createPassword:hover{
    color: #d72323;
    border-color: #f5eded;
}

/* Password Length */

/* Result */

#footer{
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 10px #f5eded,
    -5px -5px 10px #000000;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 20px;
    display:none;
}

footer p{
    font-size: 1.8em;
}

footer button{
    margin-top: -7px;
    font-size: 1.6em;
    border: 1px solid #3e3636;
    border-radius: 8px;
    cursor: pointer;
    background-color: #3e3636;
    color: #f5eded;
    box-shadow: 3px 3px 10px #f5eded,
    -5px -5px 10px #000000;
    text-shadow: 4px 4px 10px #000000,
    -4px -4px 10px #000000;
    transition: color ease 1s,
    border-color ease 1s;
    
}

footer button:hover{
    color: #d72323;
    border-color: #f5eded;
}

#displayPassword{
    color: red;
    display: flex;
}

/* Result */


